<!DOCTYPE html>
<html>
  <head>
    <title>RailsWikinimous</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
  </head>

  <body>
  <nav class="navbar navbar-light bg-light justify-content-between">
    <span class="navbar-brand mb-0 h1"><%= link_to 'Wikimimous', articles_path %></span>
    <span class="navbar-brand mb-0 h1"><%= link_to 'New Article', new_article_path %></span>
  </nav>

    <%= yield %>
  </body>
</html>
